.imgContainer {
    background-image: url('./world-140304.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.title {
    color: #ffffff;
    -webkit-text-stroke: 1px rgb(45, 45, 45);
}

.btn {
    cursor: pointer;
    color: #ffffff;
    border-color: #15b300;
    background-color: transparent;
    font-size: 25px;
    border-radius: 8px;
    margin-top: 450px;
}