.container {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2.1rem;
}

.btnPag {
    justify-content: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: #ffffff;
    font-size: 13px;
    margin: 8px;
    padding-bottom: .0rem;
}

.btnPag:hover{
    color: #18c501;
}

.currentPag{
    color: #15b300;
    justify-content: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    font-size: 18px;
    margin: 7px;
}
